<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>vue-table example page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/dist/css/vue-table.1.0.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="/dist/js/vue-table.1.0.js"></script>

  </head>
  <body>
    <br/>
    <div id="app" class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="display-5 m-5 text-center"> {{title}} </h3>
            </div>
            <div class="col-sm-12">
                <p v-html="description"> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <vue-table 
                :bootstrap="bootstrap_styles" 
                :table_headers="table_headers" 
                :pagenator="pagenator"
                :disable_filters="true" 
                :disable_exports="false" 
                :disable_results_count="false" 
                :disable_search="false"
                v-model="pagenator"
                >
                <template slot-scope="{header, row}">
                        <template v-for="action in row[header.field]">
                            <span v-html="action.html"></span>
                        </template>
                    </template>
                </vue-table>
            </div>
        </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
<script type="text/javascript">
window.pagenatorModel = {
    // current_page:   1,
    data:           [],
    // first_page_url: "...",
    // from:           "...",
    last_page:      6,
    // last_page_url:  "...",
    // next_page_url:  "...",
    path:           "http://localhost:3000/",
    // per_page:       100,
    // prev_page_url:  "...",
    // to:             "...",
    total:          600
};

</script>

<script type="text/javascript">
Vue.use(VueResource);

Vue.component('vue-table', VueTable.VueTable);

var this_vue = new Vue({
  el: '#app',
  data: {
    bootstrap_styles:['table', 'table-striped', 'table-bordered', 'table-hover, table-responsive-lg'],
    title: 'US Senators (July, 2018)',
    description: '',
    data: [],
    pagenator: pagenatorModel
  },
  computed:{
    table_headers: function(){
        return [
                {name: 'Name', field: 'display_name', type: 'text'},
                {name: 'Email', field: 'email', type: 'text'},
                {name: 'Phone Number', field: 'phonenumber', type: 'text'},
                {name: 'Num Parents Coming', field: 'parents_coming', type: 'text'},
            ]
    },
    table_data: function() {
        return this.data;
    }
  },
  methods:{}
});
</script>
</body>
</html>
