<template>
    <div class="vue-table container-fluid">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <template v-if="!disable_results_count">
                    <label style="white-space:nowrap; margin-right: 20px"><span> Show </span>
                        <select name="trainings_length" aria-controls="trainings" class="form-control input-sm" v-model="num_per_page_selected" style="display:inline-block; max-width:70px">
                            <option v-bind:value="5">5</option>
                            <option v-bind:value="10">10</option>
                            <option v-bind:value="25">25</option>
                            <option v-bind:value="50">50</option>
                            <option v-if="!pagenator" v-bind:value="-1">All</option>
                        </select> <span class=""> of {{num_records}} Records </span>
                    </label>
                </template>
                <template v-if="!disable_exports">
                    <button type="button" class="btn btn-secondary btn-sm ml-2" v-on:click="saveTo('csv')" style=""> Save to CSV </button>
                </template>
            </div>
            <div class="col-sm-6 col-xs-12" v-if="!disable_search">
                <span id="search-box" style="color: black" class="float-md-right align-middle">
                    <input type="text" v-model="search_key" placeholder="Search"/>
                    <i class="fa fa-times-circle" v-if="search_key.length > 0" v-on:click="clearSearchKey()" title="Clear Search Term"></i>
                </span>
            </div>
        </div>
        <div class="table-container mt-3">
            <template v-if="!disable_filters">
                <div class="expand-filter" v-on:click="toggleFilterMenu()" v-bind:class="{visible: !show_filter_menu}">
                    <i class="fa fa-filter mouse-pointer"></i>
                </div>
                <div class="filter-menu" v-bind:class="{visible: show_filter_menu}">
                     <div class="collapse-filter" v-on:click="toggleFilterMenu()">
                        <i class="fa fa-close mouse-pointer"> </i>
                    </div>
                    <h4> Hide Columns </h4>
                    <ul>
                        <li v-for="header in table_headers">
                            <input type="checkbox" v-bind:id="header.field" v-bind:value="header.name" v-model="hidden_fields"> <label> {{header.name}} </label>
                        </li>
                    </ul>
                    <h4> Filter Columns By </h4>
                    <ul>
                        <template v-for="filter in child_table_filters">
                            <template v-if="filter.type == 'select'" >
                                <li>
                                <h5> {{filter.name}} </h5>
                                <ul>
                                <template v-for="option in filter.values">
                                    <li>
                                        <input type="checkbox" v-bind:value="option" v-model="filter.active" /> <label> {{option}} </label>
                                    </li>
                                </template>
                                </ul>
                                </li>
                            </template>
                        </template>
                    </ul>
                </div>
            </template>
            <div id="table-container">
                <div id="overlay" v-if="spin">
                    <atom-spinner class="spinner" :animation-duration="600" :size="60" :color="'#FFF'"/>
                    <!-- <semipolar-spinner class="spinner" :animation-duration="1000" :size="65" :color="'#fff'"/> -->
                </div>
                <div id="settings-overlay" v-if="show_config">
                    <div id="settings-ui" ref="settings_ui">
                        <span class="close-ui"><i @click="show_config = false;" class="fa fa-close"></i></span>
                        <h3>Settings</h3>
                        <p>You can choose to save the state of this table so that when you navigate to a
                           different page and come back again, this table will appear as it did before.
                           You can save all settings or any of the following: number of results per page,
                           search term, sort column, page number.</p>
                        <ul>
                            <li><label><input type="checkbox" @change="disableSessionStorage($event.target.checked)" v-model="storage_settings.disable_session_storage"/>Disable All Saving</label></li>
                            <li><label><input type="checkbox" @change="toggleSessionStorage('num_per_page_selected', $event.target.checked)" v-model="storage_settings.num_per_page_selected" :disabled="storage_settings.disable_session_storage"/>Save Number of Results per Page</label></li>
                            <li><label><input type="checkbox" @change="toggleSessionStorage('search_key', $event.target.checked)" v-model="storage_settings.search_key" :disabled="storage_settings.disable_session_storage"/>Save Search Term</label></li>
                            <li><label><input type="checkbox" @change="toggleSessionStorage('current_page', $event.target.checked)" v-model="storage_settings.current_page" :disabled="storage_settings.disable_session_storage"/>Save Current Page</label></li>
                            <li><label><input type="checkbox" @change="toggleSessionStorage('sort_by', $event.target.checked)" v-model="storage_settings.sort_by" :disabled="storage_settings.disable_session_storage"/>Save Sort Column</label></li>
                        </ul>
                    </div>
                    <!-- <semipolar-spinner class="spinner" :animation-duration="1000" :size="65" :color="'#fff'"/> -->
                </div>
                <table id="" width="100%" v-bind:class="bootstrap_styles">
                    <thead>
                        <tr>
                        <th v-if="merged_settings.selectable_rows">
                            <span style="color: green"> &#x2713;</span>
                            <input type="checkbox" v-model="select_all">
                        </th>
                        <th v-for="header in filtered_table_headers" >
                            <template v-if="!disable_sort">
                                <a href="" v-on:click="sortBy(header.field, $event)"> <span v-html="header.name"></span></a> <span v-show="showSortBy(header.field, 'up')"><i class="fa fa-caret-up"></i></span>
                                <span v-show="showSortBy(header.field, 'down')"><i class="fa fa-caret-down"></i></span>
                                <slot name="header" v-bind:header="header" v-if="headerHasActions(header)">
                                    <div v-for="action in header.actions" v-html="action.html" v-on:click="action.onclick"></div>
                                </slot>
                            </template>
                            <template v-else>
                                <span v-html="header.name"></span>
                                <slot name="header" v-bind:header="header" v-if="headerHasActions(header)">
                                    <div v-for="action in header.actions" v-html="action.html" v-on:click="action.onclick"></div>
                                </slot>
                            </template>
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(row,$index) in paged_data" v-bind:class="getRowClasses(row)" v-on:click="$emit('rowclick', row)">
                            <td v-if="merged_settings.selectable_rows"> 
                                <input type="checkbox" class="select_by_all" v-model="row.selected">
                            </td>
                            <td v-for="header in filtered_table_headers">
                                    <div v-if="header.type == 'slot'">
                                        <slot v-bind:header="header" v-bind:row="row">
                                            <span v-for="action in row[header.field]" v-on:click="action.onclick" v-html="action.html"></span>
                                        </slot>
                                    </div>
                                    <template v-else-if="header.type == 'html'">
                                        <div v-html="renderValue(row, header.field)">
                                        </div>                                    
                                    </template>
                                    <div v-else-if="header.type == 'datetime'">
                                        {{renderDateTime(row, header.field)}}
                                    </div>
                                    <div v-else>
                                        {{renderValue(row, header.field)}}
                                    </div>
                                    
                                    
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="vue-table-footer">
                <div class="vue-table-page-settings" v-if="enable_settings_ui">
                    <i @click="showConfig(true)" class="fa fa-cog mouse-pointer" title="Table Settings"></i>
                    <i @click="clearState()" v-if="hasConfigFromLocalStorage()" class="fa fa-close mouse-pointer" title="Reset Table State"></i>
                </div>
                <nav class="page-navigation" aria-label="Page navigation" style="float:right" v-if="num_pages > 1">
                    <ul class="pagination">
                        <li class="page-item mouse-pointer" v-on:click="jumpToPagenation(1)" v-show="show_pagenation_jump_first">
                            <span aria-hidden="true" class="page-link">&laquo;</span>
                        </li>
                        <li class="page-item mouse-pointer" v-on:click="jumpToPagenation(current_page - 1)" v-show="current_page > 1">
                            <span aria-hidden="true" class="page-link">&lt;</span>
                        </li>
                        <li class="page-item mouse-pointer" v-for="page in num_pages" v-bind:class="[page == current_page ? 'active' : '']"><span class="page-link" v-on:click="jumpToPagenation(page)" v-show="showPagenationLink(page)"> {{page}} </span>
                        </li>
                        <li class="page-item mouse-pointer" v-on:click="jumpToPagenation(current_page + 1)" v-show="current_page < num_pages">
                            <span aria-hidden="true" class="page-link">&gt;</span>
                        </li>
                        <li class="page-item mouse-pointer" v-on:click="jumpToPagenation(num_pages)" v-show="show_pagenation_jump_last">
                            <span aria-hidden="true" class="page-link">&raquo;</span>
                        </li>
                    </ul>
                </nav>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
</template>

<script>
import {SemipolarSpinner, AtomSpinner} from 'epic-spinners';
import moment from 'moment';
var default_settings = {    
    num_per_page_selected: 5,
    current_page: 1,
    search_key: '',
    sort_order: 1,
    sort_by: null,
    row_class_field: null,
    enable_settings_ui: false,
    csv_field_blacklist: [],
    csv_download_endpoint: null,
    datetime_format: 'M/D/Y h:mm a',
    selectable_rows: false,
};

export default {
    components: {
        SemipolarSpinner,
        AtomSpinner
    },

    name: 'VueTable',
    props: { 'table_headers': {},
             'table_data': {},
             'value': {},
             'table_filters': {},
             'bootstrap': {},
             'disable_filters': {},
             'disable_exports': {},
             'disable_results_count': {},
             'disable_search': {},
             'disable_sort': false,
             'pagenator': {},
             'mutator_function': {},
             'extra_params': {},
             'trigger_spinner': {},
             'settings': {type: Object, default: () => {}},
    },
    data(){
        // https://stackoverflow.com/questions/40408096/whats-the-correct-way-to-pass-props-as-initial-data-in-vue-js-2
        var merged_settings = {};
        Object.assign(merged_settings, default_settings, this.settings);
        
        var data = {
            current_page: 1,
            num_per_page_selected: merged_settings.num_per_page_selected,
            sort_by: null,
            sort_order: 1,
            search_key: '',
            filters: [],
            hidden_fields: [],
            show_filter_menu: false,
            child_table_filters: this.table_filters,
            show_spinner: false,
            row_class_field: merged_settings.row_class_field,
            save_config: true,
            show_config: false,
            storage_settings: {
                num_per_page_selected: true,
                search_key: true,
                current_page: true,
                sort_by: true,
                sort_order: true,
                disable_session_storage: true
            },
            enable_settings_ui: merged_settings.enable_settings_ui,
            merged_settings: merged_settings,
            select_all: false,
        };
        return data;
    },
    computed: {
        sorted_table_data: {
            get: function(){
                if(this.pagenator){
                    return this.pagenator.data;
                }
                else{
                    return this.value || this.table_data;
                }
            },
            set: function(newVal){
                if(this.pagenator){
                    var new_pagenator = _.clone(this.pagenator, true);
                    new_pagenator.data = newVal;
                    this.$emit('input', new_pagenator);
                }
                else{
                    //for backwards compatibility
                    if(_.isUndefined(this.value)){
                        this.table_data = newVal;
                    }
                    else{
                        this.$emit('input', newVal);
                    }
                }
            }
        },
        filtered_table_headers: function(){
            var hidden_fields = this.hidden_fields;
            _.each(this.table_headers, function(value, key){
                value.visible = _.indexOf(hidden_fields, value.name ) > -1 ? false : true;
            });

            var filtered_table_headers = _.filter(this.table_headers, function(header){
                return header.visible;
            });
            
            return filtered_table_headers;

        },
        bootstrap_styles: function(){
            if(this.bootstrap == undefined || !this.bootstrap){
                return {};
            }
            else if (this.bootstrap === true){
                return {
                    'table': true,
                    'table-striped': true,
                    'table-bordered': true,
                    'table-hover': true,
                    'table-responsive-sm': true,
                }
            }
            else{
                return this.bootstrap;
            }
        },
        filtered_data: function(){

            var filtered_data = [];

            if(this.pagenator){
                return _.isFunction(this.mutator_function) ? this.mutator_function(this.sorted_table_data) : this.sorted_table_data;
            }
            else{
                this.spinner = true;
                //return everything if empty search key
                if (_.isUndefined(this.sorted_table_data) || _.isEmpty(this.search_key)) {
                    filtered_data = this.sorted_table_data;
                } else {

                    var default_keys = _.map(this.table_headers, 'field');
                    var keys = default_keys;

                    var options = {
                        shouldSort: !this.sort_by,
                        threshold: .4,
                        Location: 8,
                        distance: 100,
                        maxPatternLength: 32,
                        keys: keys,
                    };

                    var fuse = new Fuse(this.sorted_table_data, options);
                    filtered_data = fuse.search(this.search_key);
                }

                if (_.isEmpty(filtered_data)) {
                    return _.isFunction(this.mutator_function) ? this.mutator_function(filtered_data) : filtered_data;
                }

                //look at active filters and filter that as well
                var matched_results = [];
                var table_filters = this.child_table_filters;
                _.each(table_filters, function(filter, key){
                    if(!_.isEmpty(filter.active)){
                        _.each(filter.active, function(value, key){
                            var search_key = filter.field;
                            matched_results.push(_.filter(filtered_data, function(faculty){
                                return s.include(faculty.department_list.toLowerCase(), value.toLowerCase());
                            }));
                        });

                        filtered_data = _.uniq(_.flatten(matched_results));
                    }
                });
                this.spinner = false;
                var results = _.isFunction(this.mutator_function) ? this.mutator_function(filtered_data) : filtered_data;

                return results;
            }
        },
        paged_data: function() {
            try{
                var num_pages = parseInt(this.num_pages);
                var offset = (this.current_page - 1) * this.num_per_page;
                if(this.pagenator){
                    return this.filtered_data;
                }
                else{
                    var paged_data = this.num_per_page < 0 ? this.filtered_data : this.filtered_data.slice(offset, (offset + this.num_per_page));
                }
                return paged_data;
            }
            catch(e){
                return [];
            }
        },
        num_pages: function() {
            if(this.pagenator){
                return this.pagenator.last_page;
            }
            else{
                return Math.ceil(this.filtered_data.length / this.num_per_page);
            }
        },

        num_records: function(){
            if(this.pagenator){
                return this.pagenator.total;
            }
            else{
                return this.filtered_data.length;
            }
        },

        num_per_page: function() {
            return this.num_per_page_selected == -1 ? 100000 : this.num_per_page_selected;
        },

        truncate_pagenation: function() {
            return this.num_pages > 7 ? true : false
        },

        show_pagenation_jump_first: function(){
            return this.current_page > 2 && this.num_pages > 2;
        },

        show_pagenation_jump_last: function(){
            return this.current_page < this.num_pages - 1 && this.num_pages > 2;
        },

        spin: function(){
            return this.show_spinner || this.trigger_spinner;
        },
        
        selected_rows: function(){
            var selected_rows = _.filter(this.paged_data, (row) => {
                return row.selected;
            });
            return selected_rows;
        }
    },
    methods: {
        init: function(){
            if(this.pagenator){
                this.sorted_table_data = this.pagenator.data;
                if (this.isArray(this.sorted_table_data) && this.sorted_table_data.length == 0) {
                    this.fetchNewPagenator();
                }
            }
            if(this.save_config) {
                this.loadConfigFromLocalStorage();
            }
        },
        isArray: function(arg) {
            return Object.prototype.toString.call(arg) === '[object Array]';
        },
        saveTo: function(type) {
            //if we have a csv_download_endpoint, let that do the magic.
            if(!_.isNull(this.merged_settings.csv_download_endpoint) && !_.isUndefined(this.merged_settings.csv_download_endpoint)){
                window.open(this.merged_settings.csv_download_endpoint, '_parent');
                return;
            }
            
            //Otherwise download the current table data.
            //remove action field if it exists
            var field_headers = _.filter(this.table_headers, (header) => {
                return (header.field != 'action' && 
                       header.field != 'actions' &&
                       !header.action) &&
                        !_.includes(this.merged_settings.csv_field_blacklist, header.field);
            });

            var fields = _.map(field_headers, 'field');
            var field_names = _.map(field_headers, 'name');

            var data = _.map(this.filtered_data, function(row){
                var cleaned_row = _.pick(row, fields);
                var stripped_row = _.mapValues(cleaned_row, function(value, key){
                    return this.scrubValue(value);
                }.bind(this));

                return stripped_row;
            }.bind(this));

            switch (type) {
                case 'csv':
                    var csv = json2csv.parse(data, {
                        fields: fields,
                        fieldNames: field_names
                    });
                    var file = new File([csv], {
                        type: "text/csv;charset=utf-8"
                    });
                    FileSaver.saveAs(file, "data.csv");
                    break;
            }
        },
        scrubValue: function(value){
            //WARNING WARNING WARNING RECURSION
            //if the element is a function just get the heck out of dodge
            if(typeof(value) == 'function'){
                return null;
            }
            if(typeof(value) == 'object'){
                return _.mapValues(value, function(nested_val, key){
                    return this.scrubValue(nested_val);
                }.bind(this));
            }
            //convert html lists to comma seperated lists
            if(typeof(value) == 'string' && value.includes('<ol>')){
                value = value.replace('<ol>', '<ul>');
            }
            if(typeof(value) == 'string' && value.includes('<ul>')){
                var $ul = $(value).html(value).find('ul').first();
                var ul_csv = HELPERS.ul2Csv($ul);
                return ul_csv;
            }
            else{
                var element = typeof(value) == 'string' ? value.replace(/(<i).*(<\/i>)/, '') : value;

                element = $('<div/>').html(element).text();
                
                return element;
            }
        },
        sortBy: function(sort_by, event) {
            this.sort_order = sort_by == this.sort_by ? -this.sort_order : 1;
            this.setLocalStorage('sort_order', this.sort_order);

            this.sort_by = sort_by;
            this.setLocalStorage('sort_by', this.sort_by);

            if(this.pagenator){
                this.debouncedFetchNewPagenator(this.current_page);
            }else{
                
                //if we have a number type specified by header, sort with parse float
                var header_definition = _.find(this.table_headers, {'field': sort_by});
                
                if(header_definition.type == 'number'){
                    var sort_func = (o) => {
                        var val = this.renderValue(o, sort_by);
                        if(typeof(val) == 'string'){
                            var pattern = /[^0-9.-]+/g;
                            val = val.replace(pattern, '');
                        }                            
                            
                        return  parseFloat(val);
                    }
                }
                else if(header_definition.type == 'datetime'){
                    var sort_func = (o) => {
                        var val = this.renderValue(o, sort_by);
                        return new Date(val);
                    }                    
                }
                else{
                    var sort_func = (o) => {
                        return  this.renderValue(o, sort_by);
                    }
                }
                
                this.sorted_table_data = this.sort_order > 0 ? 
                                                _.sortBy(this.sorted_table_data, sort_func) : 
                                                _.sortBy(this.sorted_table_data, sort_func).reverse();
            }
            if(event){
                event.preventDefault();
            }
            return false;
        },
        showSortBy: function(sort_by, direction){
            return direction == 'down' ? this.sort_by == sort_by && this.sort_order < 0 : this.sort_by == sort_by && this.sort_order > 0;
        },
        showPagenationLink: function(page) {
            if (this.truncate_pagenation) {
                if (this.current_page < 3) {
                    //show 1 - 5
                    if (page < 5) {
                        return true;
                    } else {
                        return false;
                    }
                }
                if (this.current_page >= 3) {
                    if (page > this.current_page - 3 && page <= this.current_page) {
                        return true;
                    } else if (page >= this.current_page && page < this.current_page + 3) {
                        return true;
                    }
                }
                if (this.current_page > this.num_pages - 3) {
                    if (page >= this.num_pages - 5) {
                        return true;
                    } else {
                        return false;
                    }
                }

            } else {
                return true;
            }

            return false;
        },
        jumpToPagenation: function(page){
            this.current_page = page;
        },
        updatePagenation: function() {
            if(this.num_pages == 0){
                return false;
            }
            else if (this.current_page > this.num_pages) {
                this.current_page--;
                this.updatePagenation();
            }
            else if ( this.current_page < 1){
                this.current_page++;
            }
        },
        toggleFilterMenu: function(){
            this.show_filter_menu = !this.show_filter_menu;
        },
        renderValue(row, field){
            try{
                var value = field.split('.').reduce(function(obj,i) { return obj[i]}, row);
                return value;
            }
            catch(e){
                return null;
            }
        },
        renderDateTime(row, field){
            try{
                var value = field.split('.').reduce(function(obj,i) { return obj[i]}, row);   
                          
                return moment(value).format(this.merged_settings.datetime_format);
            }
            catch(e){
                return null;
            }
        },
        debouncedFetchNewPagenator: function(...args) {
            this.show_spinner = true;
            if (!this._fetchNewPagenator) {
                this._fetchNewPagenator = _.debounce(this.fetchNewPagenator, 600);
            }
            return this._fetchNewPagenator(...args);
        },
        fetchNewPagenator: function(page, search, sort_by, sort_order){
            this.show_spinner = true;

            //use defaults if nothing provided
            page = _.isNil(page) ? '0' : page;
            search = _.isNil(search) ? this.search_key : search;
            sort_by = _.isNil(sort_by) ? this.sort_by : sort_by;
            sort_order = _.isNil(sort_order) ? this.sort_order : sort_order;

            //append to query url
            search     = search     ?  '&search=' + search          : '';
            sort_by    = sort_by    ?  '&sort_by=' + sort_by        : '';
            sort_order = sort_order ?  '&sort_order=' + sort_order  : '';

            var url = this.pagenator.path;
            url += '?page=' + String(page) + '&num_items=' + String(this.num_per_page) + search + sort_by + sort_order;
            if (this.extra_params) {
                url += this.extra_params;
            }

            this.$http.get(url).then(function(response){
                var new_pagenator = response.json();
                return Promise.resolve(new_pagenator);
            }, function(error_response){
                this.show_spinner = false;
            }).then(new_pagenator => {
                this.$emit('input', new_pagenator);
                this.show_spinner = false;
            });
        },
        headerHasActions: function(header){
            return !_.isUndefined(header.actions) && header.actions.length > 0;
        },
        getRowClasses: function(row){
            var field = this.row_class_field;
            if(_.isNull(field)){
                return null;
            }
            return !_.isUndefined(row[field]) && _.isArray(row[field]) ? row[field] : []; 
        },
        showConfig(visible) {
            this.show_config = visible;
            if (visible) {
                this.$nextTick(() => {
                    this.$refs.settings_ui.scrollIntoView();
                });
            }
        },
        clearState(clear_settings_too) {
            //set default value for clear_settings_too to true
            ({clear_settings_too} = _.defaults({clear_settings_too}, {clear_settings_too: true}));

            this.num_per_page_selected = default_settings.num_per_page_selected;
            this.current_page = default_settings.current_page;
            this.search_key = default_settings.search_key;
            this.sort_order = default_settings.sort_order;
            this.sort_by = default_settings.sort_by;

            if (clear_settings_too) {
                this.storage_settings = {
                    num_per_page_selected: true,
                    search_key: true,
                    current_page: true,
                    sort_by: true,
                    sort_order: true,
                    disable_session_storage: false
                };
            }
        },
        hasConfigFromLocalStorage: function() {
            var hasConfig = false;
            var storedValue = null;
            for(var i of ['current_page', 'num_per_page_selected', 'search_key', 'sort_order', 'sort_by']) {
                storedValue = this.getLocalStorage(i);
                if (storedValue) {
                    if (storedValue != default_settings[i]) {
                        
                        hasConfig = true;
                    }
                }
            }
            return hasConfig;
        },     
        loadConfigFromLocalStorage: function(){
            
            if(!this.enable_settings_ui){
                return;
            }
            var storedValue = null;
            var updatedKeys = {};
            
            //if we're not saving storage settings, then just return
            var meta_settings = this.getLocalStorage('storage_settings')
            if (meta_settings) {
                this.storage_settings = meta_settings;
            }
            if (meta_settings && meta_settings.disable_session_storage) {
                return;
            }

            //restore saved settings
            for(var i of ['current_page', 'num_per_page_selected', 'search_key', 'storage_settings', 'sort_order', 'sort_by']) {
                storedValue = this.getLocalStorage(i);
                if (storedValue) {
                    this[i] = storedValue;
                    updatedKeys[i] = storedValue;
                }
            }

            //special case for sort_order
            if (updatedKeys['sort_order']) {
                this.sort_order *= -1;
            }

            //special case for sort_by
            if (updatedKeys['sort_by']) {
                this.sortBy(this.sort_by);
            }
            
            // this.updatePagenation();
        },
        getLocalStorage(key) {
            try {
                var unique_key = this.uniqueKeyForLocalStorage(key);
                var stored_value = localStorage.getItem(unique_key);
                var parsed_value = JSON.parse(stored_value);
                return parsed_value.value;
            } catch (exception) {
                return null;
            }
        },
        setLocalStorage(key, val) {
            //are we using localStorage?
            if (this.storage_settings[key] || key == 'storage_settings') {
                
                var unique_key = this.uniqueKeyForLocalStorage(key);
                localStorage.setItem(unique_key, JSON.stringify({"value": val}));
            }
        },
        removeLocalStorage(key) {
            var unique_key = this.uniqueKeyForLocalStorage(key);
            localStorage.removeItem(unique_key);
        },
        uniqueKeyForLocalStorage(key) {
            var unique_id = this.selfIdentify();
            var unique_key = "vue_table_" + key + "_" + unique_id;
            return unique_key;
        },
        disableSessionStorage(value) {
            if (value) {
                this.clearState(false);
            }
            this.toggleSessionStorage('num_per_page_selected', !value);
            this.toggleSessionStorage('search_key', !value);
            this.toggleSessionStorage('current_page', !value);
            this.toggleSessionStorage('sort_by', !value);
        },
        toggleSessionStorage(name, value) {
            this.$nextTick( () => {
                if (value) {
                    this.setLocalStorage(name, this[name]);
                } else {
                    this.removeLocalStorage(name);
                }
                //special case for sort_order
                if (name == 'sort_by') {
                    this.toggleSessionStorage('sort_order', value);
                }
                this.setLocalStorage('storage_settings', this.storage_settings);
            });
        },
        //if we have an ID attribute, return that, otherwise, come up with 
        //something that is hopefully unique
        selfIdentify() {
            if (this.$attrs.id) {
                return this.$attrs.id;
            }
            //try our best to create unique ID based on table headers
            //(and page url)
            var headersAsString = this.table_headers.map(h => h.name).join(",");
            var url = window.location.href;
            var hash = this.hashString(headersAsString + url);
            this.$attrs.id = hash;
            return hash;
        },
        hashString(str) {
            var hash = 0, i, chr;
            if (str.length === 0) return hash;
            for (i = 0; i < str.length; i++) {
                chr   = str.charCodeAt(i);
                hash  = ((hash << 5) - hash) + chr;
                hash |= 0; // Convert to 32bit integer
            }
            return hash;
        },
        clearSearchKey(){
            this.search_key = '';
        },
        handleGlobalSelect: function(selected){
            var checkboxes = document.getElementsByClassName('select_by_all');
            _.each(checkboxes, (checkbox) => {                
              checkbox.checked = selected;
                if(selected){
                    this.selectRow(checkbox.getAttribute('data-id'));
                }
                else{
                    this.deselectRow(checkbox.getAttribute('data-id'));
                }
            });
            this.bulk_rows_selected = _.uniq(this.bulk_rows_selected);
        },
                
    },

    mounted:function(){
        this.init();
    },
    watch: {
        paged_data: function(newVal, oldVal) {
            this.updatePagenation();
            this.$emit('data-change');
        },
        filtered_data: function(val){
            this.$emit('data-change');
        },
        current_page: function(newVal, oldVal){
            if(this.pagenator){
                this.debouncedFetchNewPagenator(newVal)
            }
            this.setLocalStorage('current_page', newVal);
        },
        num_per_page: function(newVal, oldVal){
            if(this.pagenator){
                this.debouncedFetchNewPagenator(this.current_page);
            }
            this.setLocalStorage('num_per_page_selected', newVal);
        },
        search_key: function(newVal, oldVal){
            if(this.pagenator){
                this.show_spinner = true;
                this.debouncedFetchNewPagenator(this.current_page, newVal);
            }
            this.setLocalStorage('search_key', newVal);
        },
        table_data: function(newVal, oldVal) {
            this._table_data = newVal;
        },
        select_all: function(newVal, oldVal){
            if(newVal){
                _.each(this.paged_data, (row) => {
                    this.$set(row, 'selected', true);
                });
                
            }
            else{
                _.each(this.paged_data, (row) => {
                    this.$set(row, 'selected', false);
                });
            }
        },
        selected_rows: function(newVal, oldVal){
            this.$emit('selected-rows-change', this.selected_rows);
        }
        
    }
}
</script>

<style scoped>
/** VUE TABLE **/
.vue-table .table-container {
  position: relative;
}
.vue-table .table-container .filter-menu {
  overflow-y: scroll;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #F9F9F9;
  height: 100%;
  min-width: 200px;
  color: #000;
  border: 1px #CCC solid;
  padding: 5px 0px 5px 20px;
  left: -100px;
  transition-property: left;
  transition: 1s;
  -webkit-transition: 1s;
  display: none;
}
.vue-table .table-container .filter-menu .collapse-filter {
  text-align: right;
}
.vue-table .table-container .filter-menu.visible {
  display: block;
  left: 0px;
  transition-property: left;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 10;
}
.vue-table .table-container .filter-menu ul {
  list-style-type: none;
  padding-left: 4px;
}
.vue-table .table-container .filter-menu ul li label {
  font-weight: normal;
}
.vue-table .table-container .expand-filter {
  display: none;
  left: -100px;
  transition: 1s;
}
.vue-table .table-container .expand-filter.visible {
  display: block;
  left: 0;
  transition: 1s;
  -webkit-transition: 1s;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #b8daff;
}
.vue-table .table-container tbody td:first-child {
  white-space: nowrap;
}
.vue-table .table-container tbody td:first-child span {
  padding-right: 1px;
}
#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#overlay .spinner{
    background-color: #CC0000;
    border: 1px #CC0000 solid;
    border-radius: 60px;
    box-shadow: 1px 2px 12px rgba(0,0,0,.6);
}

#settings-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(90,90,90,0.3);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#settings-overlay #settings-ui{
    background-color: white;
    border: 1px rgb(0, 0, 0) solid;
    box-shadow: 1px 2px 12px rgba(0,0,0,.6);
    width: 80%;
    padding: 2em;
    position: fixed;
    top: 100px;    
}
#settings-overlay #settings-ui ul {
    list-style: none;
}
#settings-overlay #settings-ui input {
    margin-right: 10px;
}
#settings-overlay #settings-ui .close-ui {
    font-size: 1.5em;
    float:right;
    cursor: pointer;
}

.vue-table-page-settings {
    float: left;
}
.vue-table-page-settings i {
    font-size: 1.5em;
    color: #6d747c;
    cursor: pointer;
}
.vue-table #search-box input{
    padding-left: 10px; 
    padding-right: 24px;
}
.vue-table #search-box i{
    position: absolute; 
    top: 6px; 
    right: 24px;
    cursor: pointer;
}
</style>
